.background{
    padding-top: 20px;
    background-color: rgb(245,246,247);
    font-family: 'Avenir Next OT',Arial,sans-serif;
}

.dark-text-theme {
    color: #46484f;
}

.cols-bg {
    background-color: #fff;
}

.col-padding {
    padding: 20px;
}

.col-margin-bot {
    margin-bottom: 20px;
}

.col-444 .col {
    width: 33.33%;
}

.cols {
    clear: both;
    overflow: hidden;
    margin: 0 -10px 0 -10px;
}
.igColumns {
    display: block;
}

.section {
    margin: 0 20px;
}

.col {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 10px;
    min-height: 1px;
}

.list-wrapper {
    padding: 20px 20px 16px 20px;
    margin-bottom: 20px;
}

.cols .col .white-opaque, .content .white-opaque, .hero-parsys .white-opaque{
    background-color: #f3f1ed;
}

.full-width .image, .full-width .text{
    width: 100%;
}

.image {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.promo .text {
    padding: 20px 20px 16px 20px;
}

.crop-center {
    background-position: center top;
    display: block;
    position: relative;
}

.theme {
    background-attachment: scroll;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.clickable {
    cursor: pointer;
}

.text-col-4{
    width: 300px;
    text-align: center;
}

.text-col-6{
    width: 550px;
}


.livePricesWrapper {
    color: #555;
    margin: 0 10px;
    background: #fff;
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
}

/*.livePricesWrapper table {*/
    /*border: 1px solid #bbb;*/
    /*border-radius: 5px;*/
    /*border-collapse: separate;*/
    /*margin-bottom: 20px;*/
/*}*/

thead {
    display: table-header-group;
    vertical-align: middle;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
    height: 40px;
}

.livePricesWrapper .first {
    min-width: 100px;
    padding-left: 10px !important;
    text-align: left;
    width: 100%;
}

.livePricesWrapper th {
    font-size: 13px !important;
    min-width: 50px;
    max-width: 100px;
    padding: 8px 5px 5px !important;
    text-align: center;
    vertical-align: middle;
    -o-text-overflow: clip;
    text-overflow: clip;
    font-weight: 500 !important;
}


.livePricesWrapper tr td {
    text-align: center;
}

.heading-a {
    color: #1a7ad1;
    margin-left: 10px;
    font-size: 18px;

}

.block {
    background-color: #f3f1ed;
    margin-left: 2.5%;
    margin-bottom: 20px;
    padding: 20px;
}

.col--3 .col {
    width: 30%;
}

.balances {
    color: lightcoral;
    margin-left: 15px;
}

.account {
    color: darkred;
    margin-left: 15px;
}

.yesterday {
    color: red;
    margin-left: 15px;
}

.heading {
    font-size: 18px;
}

.h3 {
    padding-top: 20px;
}